* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold; 
  width:100%;
  bottom:45%;
  display:block;
  font-family: roboto;
}

#flip {
  height:60px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:2px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}



.table{
    width: 99%;
    border-collapse: collapse;
  }

  .table td,.table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .table th{
    background-color:#4ec7f3;
    color: white;
  }

  /* responsive table */

  @media (max-width:550px) {
    .table thead{
      display: none;
    }
    .table,.table tbody,.table tr,.table td{
      display: block;
      width: 100%;
    }
    .table tr{
      margin-bottom: 50px;
    }
    .table td{
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
    .table td::before{
      content:attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }

    
  }



footer {
    width: 100%;
    margin-top: auto;
}